/* 
    Document   : detailedView
    Created on : 24 Apr 2013, 12:27:12 PM
    Author     : sizwe
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

table.detail-view .null
{
        color: pink;
}

table.detail-view
{
        border-collapse: collapse;
        width: 100%;
        margin: 0;
}

table.detail-view th, table.detail-view td
{
        font-size: 0.9em;
        border: 1px white solid;
        vertical-align: top;
}

table.detail-view th
{
        text-align: right;
        width: 160px;
}

table.detail-view tr.odd
{
/*      background:#E5F1F4;*/
        background: rgba(230,231,232,0.5) !important;
}

table.detail-view tr.even
{
/*      background:#F8F8F8;*/
        background: #A9DCF5 !important ;
}

table.detail-view tr.odd th
{
}

table.detail-view tr.even th
{
}

