body
{
    margin: 0;
    padding: 0;
    color: green;
    font: normal 10pt Arial,Helvetica,sans-serif;
    background: #EFEFEF;
}

#page
{
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
}

#topMenu a
{
    position: absolute;
    right:10px;
    top: 97px;
    padding: 10px 8px;
    color: white;
    font-size:15px;
	text-decoration:none;
}

#content
{
    padding: 10px;
}


#logo
{
    padding: 10px 20px;
    font-size: 200%;
    color: white;
    visibility: hidden;
    /*	//text-align:center;*/
    /*	//background: black url(logo.png) repeat-y left;*/
}
#mainmenu
{
    background:white url(bg.gif) repeat-x left top;
    padding: 0 11px 12px 10px;
    position: relative;
    z-index: 10;
    /*	//background-color: #000;*/
}

#mainmenu ul { 
    list-style: none;
    margin: 0; 
    padding: 0; 
    position: relative; 
    height: 30px; 
}

#mainmenu  ul li {
    height: 42px; 
    float: left; 
	line-height: 42px;
    overflow: visible;
	padding: 0 12px;	
}
#mainmenu  ul li:hover > ul { display: block; }

#mainmenu  ul li a { 
    color:white;
    display: block; 
	font-size:12px;
    font-weight:bold;
    text-decoration:none; 
}
#mainmenu  ul li ul { 
    display: none;
    background-color:#202020 ;
	left: 0;
    position: absolute;
    top: 42px;
    height: auto;
	width: 200px;
}
#mainmenu  ul li li { float: none; }
#mainmenu  ul li ul li a { }
#mainmenu  ul li ul li:hover,
#mainmenu ul li ul li.active{ background: white url(bg.gif) repeat-x left top; }

#mainmenu ul li:hover, #mainmenu ul li.active
{
    background-color:white;
    background:url('mmh.jpg') repeat-x  scroll 0% 0% transparent;
    overflow:visible;
    position:relative;
	display:block;
    text-decoration:none;
}tice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:rgb(18, 67, 221);

    font-weight: bold;
}

div.form .rememberMe label
{
    display: inline;
}

div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
    font-size: 0.9em;
    padding: 5px 20px;
}

div.breadcrumbs span
{
    font-weight: bold;
}

div.search-form
{
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet
{
    box-shadow: 0 0 10px;
    border-radius: 5px;
    border-top: 5px solid #60ACD8;


}



#login-form
{
    border: 1px solid #90A5B6;
    border-radius: 10px;
    background-clip: padding-box;
    background-color: rgba(164, 196, 202, 0.12);
    padding-left: 8px;
    width:250px;
    float:right;
    margin-right: 0;

}
.FormList
{
    width: 100%;
    height: 850px;
    padding:2px;

}





body
{
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt Arial,Helvetica,sans-serif;
    background: #EFEFEF;
}

#page
{
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
    /*	//border: 1px solid #121c28;*/
}
#topMenu 
{

    position: relative;
}
#topMenu ul
{
    position: absolute;
    float: right;
    /*        position: relative;*/
    right:10px;
    top:80px;
    padding:25px 20px 45px 75px; 


}
#topMenu ul li 
{
    display: inline;
    color: white;


}
#topMenu ul li a
{
    color: white;
    font-size:15px;
    text-decoration: none;



}
#header
{
    margin: 0;
    padding: 0;

    height: 125px;
}

#content
{
    padding: 20px;
}

#sidebar
{
left:-750px;
padding: 20px 20px 20px 0;
 position: relative;
 
}
#square
{
right: -198px;

position: relative;
}

#profile-form
{
right: -198px;
position: relative;
}
#staffset-StaffAvailailability-form
{
right: -294px;
position: relative;
}
#form
{
right: -198px;
position: relative;
}


#footer
{

    border-top: 3px solid #017BC0;
    padding-top: 10px;
    padding-left: 10%;
    height: 70px;
    background-color: #2B2A2A;
    color: #fff;
    bottom:0%;


}
#footer .category
{
    display: inline;
    list-style: none;
    font-size: 13px;

}
#footer .category a
{

    /*color: #017BC0;*/
    text-decoration:underline;


}

.contact
{
    float: left;
    display: inline-block;
}

#footer ul li a
{

    color: #fff;
    text-decoration:none;

}

#footer ul
{
    font-size: 10px;
    list-style: none;
    float: left;
    alignment-adjust: central;
    margin-right: 50px;
}



#logo
{
    padding: 10px 20px;
    font-size: 200%;
    color: white;
    visibility: hidden;
    /*	//text-align:center;*/
    /*	//background: black url(logo.png) repeat-y left;*/
}

.ui-datepicker-trigger{
    padding-bottom: 10px;
}








div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#0066A4;
}

div.form .rememberMe label
{
    display: inline;
}

div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
    font-size: 0.9em;
    padding: 5px 20px;
}

div.breadcrumbs span
{
    font-weight: bold;
}

div.search-form
{
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet
{
    box-shadow: 0 0 10px;
    border-radius: 5px;
    border-top: 5px solid rgb(44, 109, 146);


}

.portlet-decoration
{
    padding: 3px 8px;


}

.portlet-title
{
    /*            border-bottom: 5px solid #60ACD8;*/

    font-size: 12px;
    font-weight: bold;
    color: #0A246A;
    padding: 0;
    margin: 0;
}

.portlet-content
{
    font-size:0.9em;
    margin: 0 0 15px 0;
}

.portlet-content ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;

    margin: 0;
    padding: 0;
}

.portlet-content li
{

    padding: 2px 0 4px 0px;
}

.operations
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.operations li
{
    padding-bottom: 2px;
}

.operations li a
{
    font: bold 12px Arial;
    display: block;
    padding: 2px 10px 2px 8px;
    line-height: 15px;
    text-decoration: none;
    border-left: 5px solid #fff;

}



.operations li a:hover
{
    background: #2C7199;
    color: white;

    border-left: 5px solid #60ACD8;

}

#formlist input[type="button"] 
{
    border-radius: 10px;
    border:2px solid #336699;
    padding:6px 1px;
    background: #336699;     
    min-height: 40px;


}
#slideshow
{
  cursor:default;
}

#login-form
{
    border: 1px solid #90A5B6;
    border-radius: 10px;
    background-clip: padding-box;
    background-color: rgba(164, 196, 202, 0.12);
    padding-left: 8px;
    width:250px;
    float:right;
    margin-right: 0;

}
.FormList
{
    width: 100%;
    height: 850px;
    padding:2px;

}

input[type="button"],input[type="submit"] { 

    background-color:#378de5;

    border:1px solid #378DE5;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:13px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #528ecc;
}input[type="button"], input[type="submit"]:active {
    position:relative;
    top:1px;

} 
#wzd-menu {
    padding: 0;
}

#wzd-menu li {
    background:white url(bg.gif) repeat-x left top; 
    color: #fff;
    display: inline;
    font-weight: bold;
    list-style: none;
    margin: 0 20px 0 -23px;
    padding: 0.5em 10px 0.5em 23px;
    position: relative;
    font-size: .8em;
}

#wzd-menu li:before {
    content:"";
    display:block; /* reduce the damage in FF3.0 */
    position:absolute;
    width:0;
    height:0;
    top:0px; /* controls vertical position */
    right:-20px; /* value = - border-left-width - border-right-width */
    bottom:auto;
    left:auto;
    border-width:12px 0 12px 20px;
    border-style:solid;
    border-color:transparent #2C7199;
    z-index: 1;
}

/* creates the smaller  triangle */
#wzd-menu li:after {
    content:"";
    display:block; /* reduce the damage in FF3.0 */
    position:absolute;
    width:0;
    height:0;


    top:6px; /* value = (:before top) + (:before border-top) - (:after border-top) */
    right:-15px; /* value = - border-left-width - border-right-width */
    bottom:auto;
    left:auto;
    border-width:6px 0 6px 15px;
    border-style:solid;
    border-color:transparent #fff;
    z-index: 1;
}

#wzd-menu li.wzd-first {
    margin-left:0;
    padding-left: 10px;
}

#wzd-menu li.wzd-last:before, #wzd-menu li.wzd-last:after {
    display: none;
}

#wzd-menu li.wzd-active {
    background: #1275D8;
}

#wzd-menu li.wzd-active:before {
    border-color:transparent #4385C7;
}

#wzd-menu li.wzd-previous {
    background: #7db4d4;
}

#wzd-menu li.wzd-previous:before {
    border-color:transparent #7db4d4;
}

#wzd-menu li a {
    text-decoration: none;
}

#wzd-menu li.wzd-active a, #wzd-menu li.wzd-previous a {
    color: #333;
}
div#content div.radiobuttons{
    padding-left: 1em;
}
div#content div.radiobuttons label,div#content div.radiobuttons input{
    display: inline;
}
.consD
{


    background-color:#1869BD;

    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:13px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;

}

.clear{
    padding-bottom: 15px;
}
.note{
    display: block;
    background-color: rgb(253,101,0);
    color: #FFF;
    font-weight: bold;
    font-size: 15px;
    width: 50%;
}
div#content div.radiobuttons{
    padding-left: 1em;
}
div#content div.radiobuttons label,div#content div.radiobuttons input{
    display: inline;
}

div#content div.checkboxes{
    padding-left: 1em;
}
div#content div.checkboxes label,div#content div.checkboxes input{
    display: inline;
}
.form_link{
    background-color: #1869BD;
    float:right;
    display: inline-block;
    color: white;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 24px;

}
.form_link a{
    color: white;
    text-decoration: none;
	padding:6px 13px;
}

.operations li a:active {
    background: #2C7199;
    color: white;
    border-left: 5px solid #60ACD8;
}

.textfield {
    width: 230px;
}

.slideshow a {
    cursor: default;
}





